process {
	executor = 'slurm'
	withName: 'FASQC' {
          container = 'https://depot.galaxyproject.org/singularity/fastqc%3A0.11.9--hdfd78af_1'  
        }
  withName: 'FASTP' {
        queue = 'short_idx'
        memory = '10 GB'
        time = '1:00:00'
        container = 'https://depot.galaxyproject.org/singularity/fastp%3A0.20.0--hdbcaa40_0' 
        ext.args = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 20 --qualified_quality_phred 20 --unqualified_percent_limit 10 --length_required 50'
          }
  withName: 'MULTIQC' {
		queue = 'short_idx'
        container = 'https://depot.galaxyproject.org/singularity/multiqc%3A1.30--pyhdfd78af_0'
        }
 withName: 'KRAKEN2' {
		queue = 'short_idx'
		container = 'https://depot.galaxyproject.org/singularity/kraken2%3A2.0.8_beta--pl526hc9558a2_2'
		ext.args = ' --paired --threads 12 --report --report-zero-counts --unclassified-out'
        }
	withName: 'SPADES' {
		queue = 'middle_idx'
		memory = '300 GB'
        container = 'https://depot.galaxyproject.org/singularity/spades%3A4.0.0--h5fb382e_1'
		ext.args = '-rnaviral -k 21,33,55,77,99 -m 280 GB'
        }
        withName: 'QUAST' {
		queue = 'short_idx'
		container = 'https://depot.galaxyproject.org/singularity/quast%3A5.2.0--py39pl5321heaaa4ec_4'
		ext.args = ' --min-contig 0'
        }
		withName: 'SEQTK_CONTIGS' {
		queue = 'short_idx'
    	container = 'https://depot.galaxyproject.org/singularity/seqtk%3A1.4--he4a0461_1'
   		ext.args = '-L 300'
		}
		withName: 'SEQTK_READS' {
		queue = 'short_idx'
    	container = 'https://depot.galaxyproject.org/singularity/seqtk%3A1.4--he4a0461_1'
    	ext.args = '-L 100'
		}
        withName: 'DIAMOND_READS' {
    	queue = 'long_idx'
   	 	container = 'https://depot.galaxyproject.org/singularity/diamond%3A2.1.12--hdb4b4cc_1'
    	ext.args = '--outfmt 102 --top 10 --include-lineage -p 16 --ultra-sensitive --min-score 50'
		}
		withName: 'DIAMOND_CONTIGS' {
    	queue = 'long_idx'
    	container = 'https://depot.galaxyproject.org/singularity/diamond%3A2.1.12--hdb4b4cc_1'
    	ext.args = '--outfmt 102 --top 2 --include-lineage -p 16 --ultra-sensitive --min-score 80 --query-cover 60 --id 70'
		}
		withName: 'KRONA' {
		queue = 'short_idx'
		container = 'https://depot.galaxyproject.org/singularity/krona%3A2.8.1--pl5321hdfd78af_1'
		ext.args = '-q 1 -t 2 -m 4 -s 3 -tax /home/lucia.munoz/taxonomy'
}

params {
        // Max resource options
	max_cpus = 8
}
