process {
	executor = 'slurm'
	queue = 'short_idx'
	withName: 'FASQC' {
          container = 'https://depot.galaxyproject.org/singularity/fastqc%3A0.11.9--hdfd78af_1'  
        }
  withName: 'FASTP' {
        memory = '10 GB'
        time = '1:00:00'
        container = 'https://depot.galaxyproject.org/singularity/fastp%3A0.20.0--hdbcaa40_0' 
        ext.args = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 20 --qualified_quality_phred 20 --unqualified_percent_limit 10 --length_required 50'
          }
  withName: 'MULTIQC' {
            container = 'https://depot.galaxyproject.org/singularity/'
        }
	withName: 'NEXTCLADE_DATASETGET|NEXTCLADE_RUN' {
        container = 'https://depot.galaxyproject.org/singularity/nextclade:3.5.0--h9ee0642_0'
        }
        withName: 'MULTIQC' {
	container = 'https://depot.galaxyproject.org/singularity/multiqc:1.19--pyhdfd78af_0'
        }
        withName: 'IVAR_VARIANTS' {
	container = 'https://depot.galaxyproject.org/singularity/ivar:1.4.4--h077b44d_0'
        }
}

params {
        // Max resource options
	max_cpus = 8
}
